.App {
  width: 100vw;
  height: 100vh;
}
 body{
   margin: 0;
   padding: 0;
 }

 .wrapper {
  background-color: #F6F7FF;
  display: grid;
  grid-gap:12px;
  padding: 12px;
  grid-template-columns: min-content 5fr;
  grid-template-areas: "sidebar content";
 }

 .wrapper .content-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 100px;
 }
 .message{
   text-align: center;
   
 }
 .card{
   display: flex;
   flex-direction: row;
 }